@page "/admin/course-paths"
@inject LearnClient Client
@layout AdminLayout

<h1>Course Paths</h1>

<div>
    <a href="/admin/edit-course-path" class="btn btn-primary">@Resources.Button_Create</a>
</div>

@if (_models != null)
{
    <div class="d-flex flex-wrap">
        @foreach (var model in _models)
        {
            <div class="p-1">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@model.Name</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">@Resources.Button_Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
}