<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@Resources.NavMenu_Brand</a>
</div>

<ul class="nav nav-pills flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>
            <span>@Resources.NavMenu_Home</span>
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="admin/course-paths">
            <span class="oi oi-list-rich" aria-hidden="true"></span>
            <span>@Resources.NavMenu_CoursePaths</span>
        </NavLink>
    </li>
</ul>